@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baloo-2-v16-latin-regular.eot'); 
  src: local(''),
       url('../fonts/baloo-2-v16-latin-regular.woff2') format('woff2'), 
       url('../fonts/baloo-2-v16-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/baloo-2-v16-latin-600.eot'); 
  src: local(''),
       url('../fonts/baloo-2-v16-latin-600.woff2') format('woff2'), 
       url('../fonts/baloo-2-v16-latin-600.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo 2', sans-serif;
}

a {
	text-decoration: none;
	color: #18333E;
}

body {
	background-color: #F2F8FD;
}

body .wrapper {
	max-width: 1472px;
	width: 100%;
	margin: 0 auto;
}

header {
	margin-top: 25px; 
}

header .header__content {
	align-items: center; 
	display: flex;
	justify-content: space-between;
}

header .search {
	align-items: center; 
}


header input {
	background-color: #E9F1FA;
	width: 668px; 
	height: 53px;
	border-radius: 26.5px;
	outline: none; 
	border: none; 
	padding-left: 60px;
	font-size: 15px;
	padding-right: 10px;
}

header .search__img {
	position: absolute;
	margin-top: 14px;
	margin-left: 20px;
}

header .setting {
	background-color: #18333E;
	padding: 16.93px; 
	border-radius: 50%;
}

header .line {
	background-color: #B4BCC4;
	width: 1px;
	height: 41px;
}

header .bell {
	border: 1px solid #B4BCC4;
	border-radius: 50%; 
	padding: 16.88px;
}

header .location {
	display: flex; 
}

header .navigator {
	margin-right: 17.13px;
}

main {
	justify-content: space-between;
}

main nav {
	max-width: 160px;
	width: 100%;
	margin-top: 91px;

}

main nav a {
	text-decoration: none;
	line-height: 64px;
	color: #18333E; 
}

main nav img {
	margin-right: 16px; 
}

main .home {
	border-top-right-radius: 31.5px;
	border-bottom-right-radius: 31.5px;
	display: flex; 
}

main nav a:hover {
	margin-left: 27px; 
	transition: 0.5s; 
}

main .notes {
	display: flex; 
}

main .theme {
	display: flex; 
}

main .account {
	display: flex; 
}

main .explore {
	display: flex; 
}

main .graph {
	display: flex;
}

main .messages {
	display: flex; 
}

main .setting {
	display: flex; 

}

main {
	display: flex; 
	justify-content: space-between;
}

dashboard {
	display: block;
}

dashboard other-content {
	margin-top: 58px; 
}

dashboard .title {
	font-size: 30px; 
	font-weight: 600;
	color: #18333E; 
}

dashboard .nav__content {
	display: flex; 
	max-width: 380px;
	width: 100%; 
	justify-content: space-between;
}

dashboard .nav__content a {
	text-decoration: none;
	color: gray;
}

dashboard .nav__content a:hover {
	color: #18333E;; 
	transition: 0.5s;
}

dashboard .posters {
	display: flex; 
	max-width: 783px;
	width: 100%; 
	justify-content: space-between;
}

dashboard .mn__img {
	border-radius: 30px; 
	margin-bottom: 21px; 
	margin-top: 37px;
	margin-right: 30px;
}

dashboard .disc__mn {
	display: flex;
	max-width: 241px; 
	width: 100%; 
}

dashboard .poster__title {
	font-size: 22px; 
}

dashboard .calendar {
	max-width: 783px;
	width: 100%; 
	margin-top: 59px; 
}

dashboard .clndr__body {
	display: flex; 
	justify-content: space-between;
}

dashboard .clndr__header {
	display: flex; 
	justify-content: space-between;
	color: #18333E; 
}
dashboard .clndr__title {
	font-size: 30px; 
	font-weight: 600;
}

dashboard .month {
	font-weight: 500;
	border: 1px solid #B4BCC4; 
	border-radius: 30px; 
	padding: 11px 31px; 
	width: 175px; 
	margin-bottom: 61px; 
}

dashboard .mo {

}

other-content .bf__img {
	border-radius: 30px; 
}

other-content .place {
	font-size: 30px; 
	font-weight: 600;
	color: #18333E; 
}

other-content .sdr__title {
	display: flex; 
	max-width: 395px; 
	width: 100%;  
	justify-content: space-between;
	margin-top: 31px; 
}

other-content .disc__sdr {
	max-width: 395px;
	width: 100%;
	color:	#18333E; 
}