@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baloo-2-v16-latin-regular.eot'); 
  src: local(''),
       url('../fonts/baloo-2-v16-latin-regular.woff2') format('woff2'), 
       url('../fonts/baloo-2-v16-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/baloo-2-v16-latin-600.eot'); 
  src: local(''),
       url('../fonts/baloo-2-v16-latin-600.woff2') format('woff2'), 
       url('../fonts/baloo-2-v16-latin-600.woff') format('woff');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Baloo 2', sans-serif;
}

a {
	text-decoration: none;
	color: #18333E;
}

body {
	background-color: #F2F8FD;
	color: #18333E;
}

body .wrapper {
	max-width: 1472px;
	width: 100%;
	margin: 0 auto;
}

header {
	margin-top: 25px; 
}


header .header__content {
	align-items: center; 
	display: flex;
	justify-content: space-between;
}

header .search {
	align-items: center; 
	margin-left: 90px; 
}


header input {
	background-color: #E9F1FA;
	width: 668px; 
	height: 53px;
	border-radius: 26.5px;
	outline: none; 
	border: none; 
	padding-left: 60px;
	font-size: 15px;
	padding-right: 10px;
}

header .search__img {
	position: absolute;
	margin-top: 14px;
	margin-left: 20px;
}

header .filter {
	background-color: #18333E;
	padding: 16.93px; 
	border-radius: 50%;
}

header .line {
	background-color: #B4BCC4;
	width: 1px;
	height: 41px;
}

header .bell {
	border: 1px solid #B4BCC4;
	border-radius: 50%; 
	padding: 16.88px;
}

header .location {
	display: flex; 
}

header .location p {
	font-weight: 600;
}

header .navigator {
	margin-right: 17.13px;
}

main {
	justify-content: space-between;
}

main nav {
	max-width: 160px;
	width: 100%;
	margin-top: 91px;
}

main nav a {
	text-decoration: none;
	line-height: 64px;
	color: #18333E; 
}

main nav img {
	margin-right: 16px; 
}

main .dashboard {
	display: flex; 
}

main .dashboard::after {
	content: '';
	display: flex; 
	background-color: #F9D44A;
	border-top-right-radius: 31.5px;
	border-bottom-right-radius: 31.5px;
	opacity: 0; 
	transition: 0.5s ease; 
}


main .nav-link:hover a {
	margin-left: 27px; 
	transition: 0.5s; 
}

main .nav-link {
	display: flex; 
	cursor: pointer;
}

main .nav-link .active-block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-radius: 0px 31.5px 31.5px 0px;
	width: 123px;
	margin-left: -84px;
	transition: 0.2s;
}

main .nav-link:hover .active-block {
	background: #f9d34a7a;
}

main .nav-link:hover .active {
	background: #F9D44A;
}

main .nav-link .active {
	background: #F9D44A;
}

main .sign__out {
	display: flex; 
	margin-top: 290px; 
}

main {
	display: flex; 
	justify-content: space-between;
}

section, aside {
	margin-top: 58px; 
}

section {
	display: block;
}

section, aside {
	margin-top: 58px; 
}

section .likes__mn {
	width: 46px; 
	height: 46px; 
	background: #ffffff60;
	padding: 15px 13px; 
	border-radius: 50px; 
	backdrop-filter: blur(25px);
	position: absolute;
	margin-top: 60px; 
	margin-left: 170px; 
}

section .title {
	font-size: 30px; 
	font-weight: 600;
	color: #18333E; 
}

section .nav__content {
	display: flex; 
	max-width: 380px;
	width: 100%; 
	justify-content: space-between;
}

section .nav__content a {
	text-decoration: none;
	color: gray;
}

section .nav__content a:hover {
	color: #18333E;; 
	transition: 0.5s;
}

section .posters {
	display: flex; 
	max-width: 783px;
	width: 100%; 
	justify-content: space-between;
	
}

section .mn__img {
	border-radius: 30px; 
	margin-bottom: 21px; 
	margin-top: 37px;
	margin-right: 30px;
}

section .mn__img:hover {
	box-shadow: 0px 0px 50px 0px rgba(31, 188, 196, 0.5);
	transition: 0.3s; 
	transform: scale(1.1);
}

section .sd__img {
	border-radius: 30px; 
	margin-bottom: 21px; 
	margin-top: 37px;
	margin-right: 30px;
}

section .sd__img:hover {
	box-shadow: 0px 0px 50px 0px rgba(221, 35, 3, 0.5);
	transition: 0.3s; 
	transform: scale(1.1);
}

section .nc__img {
	border-radius: 30px; 
	margin-bottom: 21px; 
	margin-top: 37px;
	margin-right: 30px;
}

section .nc__img:hover {
	box-shadow: 0px 0px 50px 0px rgb(33, 65, 111, 0.5);
	transition: 0.3s; 
	transform: scale(1.1);
}

section .disc__mn {
	display: flex;
	max-width: 241px; 
	width: 100%; 
}

section .poster__title {
	font-size: 22px; 
}

section .geo {
	margin-right: 12.48px;
}

section .star {
	margin-right: 12px;
	margin-left: 20px;
}

section .calendar {
	max-width: 783px;
	width: 100%; 
	margin-top: 59px; 
}

section .clndr__body {
	display: flex; 
	justify-content: space-between;
}

section .clndr__header {
	display: flex; 
	justify-content: space-between;
	color: #18333E; 
}

section .clndr__title {
	font-size: 30px; 
	font-weight: 600;
}

section .month {
	font-weight: 500;
	border: 1px solid #B4BCC4; 
	border-radius: 30px; 
	padding: 11px 31px; 
	width: 175px; 
	margin-bottom: 61px; 
}

section .weekday {
	margin-bottom: 29px; 
}

section .tu {
	width: 64px; 
	height: 111px; 
	border-radius: 32px;
	background-color: #18333E;
	padding: 10px 23px;
	color: white; 
	margin-top: -10px; 
}

section .date {
	color: white; 
}

section .clndr__body p {
	font-size: 25px; 
	margin-bottom: 34px;  
}

section .circle {
	width: 5px; 
	height: 8px; 
	border-radius: 13.5px; 
	background-color: #F9D44A;
	margin: 0 auto; 
	margin-top: -15px; 
	margin-bottom: 6px; 
}

section .tours {
	display: flex;
	justify-content: space-between;
	margin-bottom: 43px; 
}

section .pause {
	width: 7px;
	height: 13px;
}

section .p__rectangle {
	width:27px;
	height: 49px;
	margin-top: 13px; 
	border-radius: 13.5px;
	background-color: #F9D44A;
	padding: 13px 10px; 
	cursor: pointer;
}
section .spooky_n {
	margin-right: 45px;
}

section .spooky_n:hover {
	box-shadow: 0px 0px 50px 0px rgba(113, 79, 108, 0.5);
	transition: 0.3s; 
}

section .mountains:hover {
	box-shadow: 0px 0px 50px 0px rgba(111, 158, 169, 0.5);
	transition: 0.3s; 
}
section .other__tours img {
	border-radius: 25px; 
}

section .arctive__tour {
	width: 457px;
	height: 119px;
	background: #18333E; 
	border-radius: 25px; 
	display: flex; 
	justify-content: space-between;
	padding: 23px 23px; 
}

section .arctive__tour img {
	border-radius: 12px;
}

section .tours__main {
	display: block;
}

section .eva__tour {
	display: flex; 
}

section .title__tour {
	color: white; 
	font-size: 18px; 
	font-weight: 500;
	margin-top: 8px; 
}

section .eva {
	color: white; 
	margin-left: 6px; 
	font-size: 14px; 
}

aside .bf__img {
	border-radius: 30px; 
}

aside .bf__img:hover {
	box-shadow: 0px 0px 50px 0px rgba(25, 209, 99, 0.5);
	transition: 0.3s; 
}

aside .place {
	font-size: 30px; 
	font-weight: 600;
	color: #18333E; 
}

aside .sdr__title {
	display: flex; 
	max-width: 395px; 
	width: 100%;  
	justify-content: space-between;
	margin-top: 70px; 
}

aside .disc__sdr {
	max-width: 395px;
	width: 100%;
	color:	#18333E; 
}

aside .tickets {
	margin-top: 56px; 
	display: flex;
	justify-content: space-between;
}

aside .price {
	display: block; 
}

aside .dollars {
	font-size: 40px; 
	font-weight: 600;
}

aside .btn__travel {
	color: white; 
	font-size: 18px; 
	font-weight: 700;
	background: #18333E;
	width: 175px;
	height: 61px; 
	padding: 19px 40px; 
	border-radius: 30.5px;
	margin-top: 3px; 
}

aside .places {
	display: block; 
	max-width: 395px;
	width: 100%; 
	margin-top: 55px;
}

aside .nature__lake {
	display: flex;  
	margin-bottom: 17px;
}

aside .camel__ride {
	display: flex; 
	margin-bottom: 17px; 
}

aside .mid__forest {
	display: flex; 
}

aside .nl {
	border-radius: 20px; 
	margin-right: 18px;
}

aside .nl:hover {
	box-shadow: 0px 0px 50px 0px rgba(6, 180, 254, 0.5);
	transition: 0.3s; 
}

aside .cr {
	border-radius: 20px; 
	margin-right: 18px;
}

aside .cr:hover {
	box-shadow: 0px 0px 50px 0px rgba(199, 99, 30, 0.5);
	transition: 0.3s; 
}

aside .mf {
	border-radius: 20px; 
	margin-right: 18px;
} 

aside .mf:hover {
	box-shadow: 0px 0px 50px 0px rgba(59, 90, 129, 0.5);
	transition: 0.3s; 
}

aside .place__tick {
	display: block; 
}

aside .country__tick {
	display: flex; 
}

aside .rectangle {
	backdrop-filter: blur(2.5px);
	display: flex;
	max-width: 326px;
	width: 100%; 
	height: 71px;
	background-color: #ffffff32;
	border-radius: 15px;
	position: relative; 
	margin-top: -110px;
	margin-left: 35px;
}

aside .pictures {
	margin-top: 12px;
	max-width: 326px;
	width: 100%; 
	margin-left: 20px; 
}

aside .pic1 {
	transition: all .1s ease;
}

aside .pic2 {
	margin-left: 6px; 
	margin-right: 6px;
}

aside .pic3 {
	margin-right: 6px;
}

aside .pic1:hover {
	width: 64px; 
	height: 47px; 
	transform: scale(1.2);
	transition: 0.5s; 
}

aside .pic2:hover {
	width: 64px; 
	height: 47px; 
	transform: scale(1.2);
	transition: 0.5s; 
}

aside .pic3:hover {
	width: 64px; 
	height: 47px; 
	transform: scale(1.2);
	transition: 0.5s; 
}

aside .pic4:hover {
	width: 64px; 
	height: 47px; 
	transform: scale(1.2);
	transition: 0.5s; 
}